*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

a:visited,
a:link {
  text-decoration: none;
}

.container {
  max-width: 1128px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 660px;
  height: 80vh;
  background-color: #f3eed9;
}

header .text {
  text-align: center;
}

header .text p {
  font-family: "Roboto ", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #222c2a;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

header .text h1 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  line-height: 1em;
  color: #824936;
}

article {
  padding: 5rem 0;
}

article h3 {
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  color: #824936;
  text-align: center;
  margin-bottom: 1em;
}

article .row section p {
  font-family: "Roboto ", sans-serif;
  font-size: 2.1rem;
  line-height: 1.5em;
  color: #222c2a;
}

.col + .col {
  margin-left: 5rem;
}

.promotion-1 {
  background-color: #222c2a;
  padding: 8rem 0;
  color: #f3eed9;
}

.promotion-2 {
  background-color: #824936;
  padding: 8rem 0;
  color: #f3eed9;
}

.promotion-1 h3,
.promotion-2 h3 {
  font-size: 2.4rem;
  line-height: 1em;
  margin-bottom: 0.8em;
}

.promotion-1 p,
.promotion-2 p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5em;
}
